.container-fluid{
    
    min-height: 80px;
    border: 2px dashed orange;
}

.col-6{
    
    border: 2px dashed blue;
}

.jumbotron{
    min-height: 400px;
    
    border: 2px dashed magenta;
}

.col-1{
    width: 100%;
}

.container{
    border: 2px dashed black;
    height: 400px;
}

