
/* utili */

.col-12{
    padding: 10px;
}

.m-20{
    margin: -10px;
}

.mb{
    margin-bottom: 30px;
}

.btn{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 10px;
}

.row.bg{
    background-color: #303d4e
}

/* intestazione con barra di navigazione */

header{
    background-color: rgb(66, 66, 110);
}

a{
    color: white;
}

nav.navbar{
    display: flex;
    justify-content: space-between;
}

span.navbar-toggle-icon{
    color: lightgray;
    border: 1px solid white;
}

a.nav-link{
    color: white;
}


/* jumbotron */

.jumbotron{
    background-color: rgb(99 211 170);
    color: white;
    margin-bottom: 20px;
}

img.avatar{
    margin: 20px 0;
    width: 200px;
}

h1{
    margin-bottom: 20px;
}

.fa-star{
    font-size: 24px;
}

.fa-star::before{
    border: 2px solid white;
}

.fa-star::after{
    border: 2px solid white;
}

.subtitle{
    margin: 20px 0;
    font-size: 16px;
}


/* immagini */

section img{
    max-width: 100%;
    border-radius: 10px;
}

/* paragrafi */

.about{
    background-color: rgb(89, 185, 153);
    padding: 30px 105px;
    color: white;
}

.about p{
    text-align: left;
    margin-bottom: 20px;
    font-size: 16px;
}

/* modulo */

.form-section{
    margin: 20px 0;
}

.text-start{
    background-color: rgb(2, 181, 104);
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 10px;
    color: white;
    border: 0;
}    

/* pie' di pagina */

footer{
    background-color: #42566e;
    color: white;
}

footer ul{
    list-style-type: none;
}

footer li{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5px 0;
}

.about-p{
    font-size: 20px;
}